<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
            	{% if forecast %}
                    <h1>The weather is {{ forecast }}</h1>
                    <a class="btn btn-secondary" href="{{ url_for('weather') }}" role="button"> Search Again »</a>
                {% else %}
                    <h1>Where do you want to look up the weather?</h1>
                    <form action="/weather" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="address" placeholder="City, State" class="form-control">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                {% endif %}
                <a class="btn btn-secondary" href="{{ url_for('index') }}" role="button">Home »</a>
                <a class="btn btn-secondary" href="{{ url_for('about') }}" role="button">About »</a>
                <a class="btn btn-secondary" href="{{ url_for('yelp') }}" role="button">Lookup Businesses »</a>
                <a class="btn btn-secondary" href="{{ url_for('amazon') }}" role="button">Scrape Amazon »</a>
            </div>
        </div>
	</body>
</html>